<%- include('./partials/header.ejs') %>

<h2>The average mood in all users is:</h2>
<h3>Today:</h3>
<h4><%= avgMoodToday %></h4>
<h3>Yesterday:</h3>
<h4><%= avgMoodYesterday %></h4>
<% if(moodBetter){ %>
<h3 class="text-success">Things are looking bright today &#127808;</h3>
<% }else{ %>
<h3 class="text-secondary">Things are looking gloomy today &#128555;</h3>
<% } %>
<h2><a href="/auth/registration">Registration</a></h2>
<h2><a href="/auth/login">Login</a></h2>
<h2><a href="/behavior/reporting">Make a report</a></h2>
<h2><a href="/behavior/summary">Summary</a></h2>

<%- include('./partials/footer.ejs') %>